.container {
    font-family: Lexend;
    padding: 10px;
    background-color:aquamarine;
    border:3px solid gray;
    width:70%;
    text-align: center;
    margin: 0px auto;
}
body {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }